<#include "header.htm"/>
<#import "../../macros/pagination.ftl" as pagination>
<script type="text/javascript" src="${contextPath}/templates/default/js/pagination.js?${startupTime}"></script>

<div class="maintitle">${forum.name?html}</div>
<p>
<#list topics as topic>
 <#if topic.movedId == 0 || (forum?exists && topic.forumId == forum.id)>

  <div class="subject">
	<#if topic.hasAttach() && attachmentsEnabled><img src="${contextPath}/templates/${templateName}/images/icon_clip.gif" align="middle" alt="[Clip]" /></#if>
    <a href="${JForumContext.encodeURL("/posts/list/${topic.id}")}">
	  <#if topic.vote>${I18n.getMessage("ForumListing.pollLabel")}</#if>
		 <#if (topic.title?length == 0)>No Subject<#else>${topic.title?html}</#if><#if topic.type == TOPIC_WIKI> (Wiki)</#if>
	 </a>
  </div>
  <div class="mobilePostText">
     ${I18n.getMessage("ForumIndex.answers")}: ${topic.totalReplies}<br />
     ${I18n.getMessage("ForumIndex.author")}: <a href="${JForumContext.encodeURL("/user/profile/${topic.postedBy.id}")}">${topic.postedBy.username}</a><br />
     ${I18n.getMessage("ForumIndex.lastMessage")}: <#if topic.type == TOPIC_WIKI>${topic.lastEditTimeStr}<#else>${topic.lastPostTime}</#if>
	 ${I18n.getMessage("Search.postedBy")} <a href="${JForumContext.encodeURL("/user/profile/${topic.lastPostBy.id}")}">${topic.lastPostBy.username}</a>
     <#if topic.paginate>
		 <span class="gensmall">
		  <br /><@pagination.littlePostPagination topic.id, postsPerPage, topic.totalReplies/>
		 </span>
	 </#if>
  </div>
  <br />
 </#if>
</#list>

<@pagination.doPagination action, forum.id, 1/><br />

<a href="${JForumContext.encodeURL("/posts/insert/${forum.id}")}" class="icon_new_topic nav"><img src="${contextPath}/images/transp.gif" alt="" /></a>

<#if logged>
	<#if !watching>
		<a href="${JForumContext.encodeURL("/forums/watchForum/${forum.id}")}" class="icon_watch nav"><img src="${contextPath}/images/transp.gif" alt="" /></a>
	<#else>
		<a href="${JForumContext.encodeURL("/forums/unwatchForum/${forum.id}")}" class="icon_unwatch nav"><img src="${contextPath}/images/transp.gif" alt="" /></a>
	</#if>
</#if>

<br>
<#include "bottom.htm"/>
