</td>
</tr>
	<tr>
		<td align="center">
			<span class="gen">
				<a href="?nonMobile=false">${I18n.getMessage("ForumBase.mobileView")}</a>
				<#if session?exists && session.isAdmin()>&bull; <a id="adminpanel" href='${JForumContext.encodeURL("/admBase/login")}'>${I18n.getMessage("ForumBase.admin")}</a></#if>
			</span>
		</td>
	</tr>
	<tr>
		<td align="center">
			<span class="copyright">Powered by <a class="copyright" href="https://sourceforge.net/projects/jforum2/" target="_blank">JForum ${version}</a> &copy; 2020 JForum Team &bull; Maintained by <a class="copyright" href="https://www.andowson.com/" target="_blank">Andowson Chang</a> and <a class="copyright" href="https://www.ulfdittmer.com/" target="_blank">Ulf Dittmer</a></span>
		</td>
	</tr>
</table>
<#if hasCodeBlock?default(false)>
	<#include "highlighter_js.htm"/>
</#if>
<iframe src="${contextPath}/ping_session.jsp" height="0" width="0" frameborder="0" scrolling="no" title="session keeper"></iframe>
</body>
</html>